*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background-color: rgb(204, 238, 247);
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.main-heading{
  margin-top: 20px;
  margin-bottom: 15px;
}
.search-input{
  margin-bottom: 30px;
  padding: 10px;
  width: 80%;
  font-size: 16px
}
.search-input:focus{
  outline: 0;
}
.cards-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.user-card{
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.info-group{
  display: flex;
  gap: 10px;
}
.info-data{
  color: rgb(83, 83, 83);
  font-weight: bold;
}